/* App.css — ATX Let's Play
   Global app-level layout wrapper.
   Component styles live in their own CSS files.
   © 2026 Swami Software, LLC */

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
